


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body{
    background-color: #E8E8E8;
}

.main{
    display: flex;
}

input[type='file'] {
    color: white;
}


li{
    padding-bottom: 20px;

}

ul{
    text-align: center;
}


/*--------------Canvas CSS--------------*/

#canvasHolder{
    max-width: 1300px;
    max-height: 100vh;
    margin-top: 20vh;
}

#canvas{
    border: 1px solid #1C2D44;
    background-color: #EFEDF0;
    opacity: 0.8;
    background-image:  repeating-linear-gradient(45deg, #ffffff 25%, transparent 25%, transparent 75%, #ffffff 75%, #ffffff), repeating-linear-gradient(45deg, #ffffff 25%, #EFEDF0 25%, #EFEDF0 75%, #ffffff 75%, #ffffff);
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
}

.canvas-container, #canvasHolder {
    margin-left: auto;
    margin-right: auto;
}


/*-------sidebar-------*/

.side-nav{
    width: 18%;
    height: 100%;
    background-color: #F9F9F9;
    padding: 100px 10px 10px 10px ;
}

#sid-nav-right{
    position: absolute;
    right: 0;
    top: 0;
}

#sid-nav-left{
    left: 0;
    top: 0;
    position: absolute;
}

#layers{
    list-style-type: none;

}



.parentLayer{
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding-left: 18px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;


}
.parentLayer:hover{
    border: 1px solid #1C2D44;
}


.parentLayer .layer:focus{
    border: 1px solid #1C2D44;
}
.parentLayer:focus{
    border: 1px solid #1C2D44;
}


.parentLayer:hover #removeBtn{
    opacity: 100%;
}



button{
    padding: 8px;
    border-radius: 8px;
    border: 0px;
    min-width: 36px;
}



#clip{
    padding-right: 40px;
    padding-left: 40px;
    background: #BB004B;
    color: whitesmoke;
}


#download{
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 20px;
}


.random{
    background: #ffffff  url("asset/blob-haikei(1).svg")no-repeat center center;
    cursor: pointer;
    margin-bottom: 50px;
    color: white;
    width: 200px;
    height: 200px;
    transition-duration: 0.4s;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#random:active{
    border: 2px solid #F9F9F9;
}

#buttons{
    display: flex;
    justify-content: center;
    margin-top: 46px;
}

.layer{
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: end;
    width: auto;
    height: auto;
    justify-content: left;
    min-width: inherit;
}






#newObj{
    width: 180px;
    align-content: center;
}





#mask-input-Label{
    border-radius: 8px;
    background: #12B08A url("asset/Group3.jpg") no-repeat center;
    background-blend-mode:  darken;
}


#image-input-Label{
    border-radius: 8px;
    background: rgba(0,0,0,0.5) url("asset/Rectangle6.jpg") no-repeat center  ;
    background-blend-mode:  darken;

}



#removeBtn{
    background: none;
    opacity: 0;

}




.fa-trash{
    color: #BB004B;
}


#lockBtn{
    background: none;
}

